@import "tailwindcss";

@plugin "daisyui" {
  themes: shopzone;
}

@plugin "daisyui/theme" {
  name: "shopzone";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* Main backgrounds */
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #e2e8f0;
  --color-base-content: #111827;

  /* Brand colors */
  --color-primary: #7c3aed;
  --color-primary-content: #ffffff;

  --color-secondary: #06b6d4;
  --color-secondary-content: #ffffff;

  --color-accent: #f97316;
  --color-accent-content: #ffffff;

  /* Neutral */
  --color-neutral: #111827;
  --color-neutral-content: #ffffff;

  /* Status colors */
  --color-info: #3b82f6;
  --color-info-content: #ffffff;

  --color-success: #10b981;
  --color-success-content: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-content: #ffffff;

  --color-error: #ef4444;
  --color-error-content: #ffffff;

  /* Rounded UI */
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  --border: 1px;
}